body{
    background-color: rgb(65, 51, 20, 1);
    color: white;
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    font-family: "New Amsterdam", sans-serif;
}

.passo{
display: none;
}

.passo.ativo{
display: block;

}

main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 100%;
}